name: Dev Branch CI

on:
  push:
    branches-ignore:
      - 'master'
      - 'release*'
    paths:
      - "moviebuffs-data-importer/**"
      - "moviebuffs-gatling-tests/**"
      - "moviebuffs-service/**"
      - "moviebuffs-tools/**"

jobs:

  test:
    name: Test - Units & Integrations
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v5.1.0
      with:
        java-version: 21
        distribution: 'adopt'
        cache: 'maven'

    - name: Build with Maven
      run: ./mvnw -B clean install -P full
